body {
  background-color: #00e3e3;
  background-image: url('./assets/brick-wal.png');
  font-family: 'Dosis', sans-serif;
}

.container {
  text-align: center;
}

h1 {
  font-family: 'Modak', cursive;
  margin-top: 1rem;
  text-transform: uppercase;
}
input {
  margin-right: 0.5rem;
  margin-bottom: 1rem;
}

.rules {
  border: 5px ridge gold;
  border-radius: 5px;
  background-color: white;
  padding: 2px;
}

.body-row {
  background-color: white;
}

@media (min-width: 768px) {
  h1 {
    font-size: 3rem;
  }
  .rules,
  input,
  button {
    font-size: 1.5rem;
  }
}
